[include mainsail.cfg]
[include config_backup.cfg]
[include NozzleScrubMacro.cfg]
#[include sample-bigtreetech-ebb-canbus-v1.2.cfg]
#[include homing.cfg]
#[include sensorless-homing.cfg]


[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32g0b1xx_220033000750304158373220-if00
restart_method: command

[mcu EBBCan]
canbus_uuid: 6c9c23284c14

[virtual_sdcard]
path: /home/pi/printer_data/gcodes
on_error_gcode: CANCEL_PRINT

[force_move]
enable_force_move: True

# This file contains common pin mappings for the BIGTREETECH SKR mini
# E3 v3.0. To use this config, the firmware should be compiled for the
# STM32G0B1 with a "8KiB bootloader" and USB communication.

# The "make flash" command does not work on the SKR mini E3. Instead,
# after running "make", copy the generated "out/klipper.bin" file to a
# file named "firmware.bin" on an SD card and then restart the SKR
# mini E3 with that SD card.

# See docs/Config_Reference.md for a description of parameters

[printer]
kinematics: corexy
max_velocity: 300
max_accel: 7000  ; Increase this based on your printer capability (e.g., 5000 to 10000)
max_z_velocity: 15
max_z_accel: 45
square_corner_velocity: 6.0


[stepper_x]
step_pin: PB13
dir_pin: PB12       # Remove or add '!' if the motor moves backward
enable_pin: !PB14
rotation_distance: 40
microsteps: 16
full_steps_per_rotation: 200
endstop_pin: tmc2209_stepper_x:virtual_endstop
position_endstop: 0
position_min: 0
position_max: 242 #was 285 #was 235
homing_speed: 60
homing_retract_dist: 0

[tmc2209 stepper_x]
uart_pin: PC11
tx_pin: PC10
uart_address: 0
interpolate: False
run_current: 0.800 #was 0.800
sense_resistor: 0.110
stealthchop_threshold: 0
diag_pin: ^PC0       # SKR Mini E3 V3 X-DIAG physical pin
driver_SGTHRS: 110   # Stallguard sensitivity (0-255). Tune carefully.

[stepper_y]
step_pin: PB10
dir_pin: PB2        # Remove or add '!' if the motor moves backward
enable_pin: !PB11
rotation_distance: 40
microsteps: 16
full_steps_per_rotation: 200
endstop_pin: tmc2209_stepper_y:virtual_endstop
position_min: 0  #was 195
position_endstop: 0 #Note: Your position_endstop will be either 0 or 220 depending on which side your carriages crash into.
position_max: 230   #was 285 #was 235
homing_speed: 60
homing_retract_dist: 0

[tmc2209 stepper_y]
uart_pin: PC11
tx_pin: PC10
uart_address: 2
interpolate: False
run_current: 0.800 #was 0.800
sense_resistor: 0.110
stealthchop_threshold: 0
diag_pin: ^PC1       # SKR Mini E3 V3 Y-DIAG physical pin
driver_SGTHRS: 175   #seems about right at 175 but any higher and it goes awol  # Stallguard sensitivity (0-255). Tune carefully.


[stepper_z]
step_pin: PB0
dir_pin: !PC5
#enable_pin: !PC3 #was this now changed to below
enable_pin: !PB1
microsteps: 16
rotation_distance: 4
full_steps_per_rotation: 200 ;(assuming a standard 1.8° stepper)
endstop_pin: probe:z_virtual_endstop # Instructs printer to use BLTouch to home Z
position_max: 300
position_min: -5


[tmc2209 stepper_z]
uart_pin: PC11
tx_pin: PC10
uart_address: 1
run_current: 0.580
stealthchop_threshold: 0

[homing_override]
axes: z
gcode:
    SET_KINEMATIC_POSITION Z=0
    G0 Z10 F1200
    G28 X Y
    # Move to the center of your 220x220 bed (110, 110)
    G1 X122 Y125 F6000
    G28 Z
    G0 Z10 F1200 # was 600
set_position_z: 0

[bltouch]
sensor_pin: ^EBBCan:PB8     # Replace with your actual sensor pin
control_pin: EBBCan:PB9     # Replace with your actual control pin
x_offset: -33  #was -35.75 for dragon burner says -15 on e34m1 instructions!
y_offset: 5  # was -12 for dragon burner says 8 on e34m1 instructions !
#z_offset: 0.0        # Set to 0 and calibrate via PROBE_CALIBRATE
speed: 60
samples: 2
samples_result: median
sample_retract_dist: 3.0

# bltouch z settings motherboard these work fine
# [bltouch]
# sensor_pin: ^PC14
# control_pin: PA1
# x_offset: -15 #WAS -42.5
# y_offset: 5 #WAS -10
# z_offset: 0.0 
# probe_with_touch_mode: True
# pin_up_touch_mode_reports_triggered: True
# pin_up_touch_mode_reports_triggered: False #uncomment if using a clone
# stow_on_each_sample = False


[bed_mesh]
speed: 250
horizontal_move_z: 10
mesh_min: 55, 15      # Safeguards the probe from traveling off the left edge
mesh_max: 190, 200     # Safeguards the probe from traveling off the right/back edge
probe_count: 3, 3
algorithm: bicubic
fade_start: 1.0
fade_end: 10.0
fade_target: 0

# [gcode_macro START_PRINT]
# #this is for prusa slicer
# gcode:
#     # Read temperatures from PrusaSlicer
#     {% set EXTRUDER_TEMP = params.EXTRUDER_TEMP|default(200)|float %}
#     {% set BED_TEMP = params.BED_TEMP|default(60)|float %}
    
#     # 1. Set preliminary temps to avoid oozing during homing
#     M140 S{BED_TEMP}
#     M104 S{EXTRUDER_TEMP - 20}
    
#     # 2. Home all axes
#     G28
    
#     # 3. Wait for Bed to reach final temp
#     M190 S{BED_TEMP}
    
#     # Optional: Execute Chamber/Bed Mesh routines here
#     BED_MESH_PROFILE LOAD=default
    
#     # 4. Read actual temperatures before heating nozzle for printing
#     M117 Heating Nozzle...
#     {action_respond_info("Bed Temp: " + printer.heater_bed.temperature|string + "°C")}
#     {action_respond_info("Extruder Temp: " + printer.extruder.temperature|string + "°C")}
    
#     # 5. Heat nozzle to final printing temperature and wait
#     M109 S{EXTRUDER_TEMP}
    
#     # 6. Start printing
#     G92 E0
#     # Prime line or wipe routine here...
#     #6. Prime line
#     G1 Z2.0 F3000 ; Move Z up
#     G1 X15 Y20 Z0.0 F5000 ; Move to start position
#     G1 X130 E15 F1000 ; Draw the first purge line across X
#     #G1 Y22 F5000                    ; Step over slightly in Y
#     #G1 X5 Y100 Z0.0 F1500 E15 ; Draw first prime line
#     #G1 X5.5 Y100 Z0.0 F5000 ; Shift
#     #G1 X15 E15 F1000                ; Draw the second line back to the start
#     #G1 X5.5 Y20 Z0.0 F1500 E30 ; Draw second prime line
#     G92 E0 ; Reset Extruder
#     G1 Z2.0 F3000 ; Move Z up

[gcode_macro PRINT_START]
#this is for orca slicer
gcode:
    {% set BED_TEMP = params.BED_TEMP|default(60)|float %}
    {% set EXTRUDER_TEMP = params.EXTRUDER_TEMP|default(200)|float %}
    
    # 1. Reset extruder and ensure absolute coordinates
    G92 E0
    G90
    
    # 2. Wait for bed temp (do not wait for extruder yet to prevent oozing)
    M190 S{BED_TEMP}
    
    # 3. Sensorless Homing for CoreXY
    # Note: Ensure your sensorless_homing macro or [safe_z_home] uses the center of the 220x220 bed (X110 Y110)
    G28 
    
    # 4. BLTouch Bed Mesh (Probes a safe area within 220x220)
    # Ex: BED_MESH_CALIBRATE PROFILE=default
    #BED_MESH_CALIBRATE
    BED_MESH_CLEAR                 ; Clear any old mesh from previous prints
    # 4. Run the native adaptive bed mesh
    BED_MESH_CALIBRATE ADAPTIVE=1
    #BED_MESH_PROFILE LOAD=default
    
    # 5. Heating phase: heat to printing temperature
    M109 S{EXTRUDER_TEMP}
    clean_nozzle
    # 6. Prime line
    G1 Z2.0 F3000 ; Move Z up
    G1 X15 Y10 Z0.0 F5000 ; Move to start position
    G1 X130 E15 F1000 ; Draw the first purge line across X
    #G1 Y22 F5000                    ; Step over slightly in Y
    #G1 X5 Y100 Z0.0 F1500 E15 ; Draw first prime line
    #G1 X5.5 Y100 Z0.0 F5000 ; Shift
    #G1 X15 E15 F1000                ; Draw the second line back to the start
    #G1 X5.5 Y20 Z0.0 F1500 E30 ; Draw second prime line
    G92 E0 ; Reset Extruder
    G1 Z2.0 F3000 ; Move Z up

[gcode_macro PRINT_END]
gcode:
    M400                ; Wait for buffer to clear
    G91                 ; Switch to relative positioning
    G1 E-4.0 F1800      ; Retract 3mm of filament to prevent oozing
    G1 Z10 F3000        ; Retract a bit and lift Z by 10mm
    G90                 ; Switch back to absolute positioning
    G1 X10 Y20 F3000   ; Present print (adjust Y to your bed size)
    M106 S0             ; Turn off part cooling fan
    M104 S0             ; Turn off hotend
    M140 S0             ; Turn off heated bed
    #M84                 ; Disable stepper motors


###########################
# bltouch z settings motherboard these work fine
# [bltouch]
# sensor_pin: ^PC14
# control_pin: PA1
# x_offset: -15 #WAS -42.5
# y_offset: 5 #WAS -10
# z_offset: 0.0 
# probe_with_touch_mode: True
# pin_up_touch_mode_reports_triggered: True
# pin_up_touch_mode_reports_triggered: False #uncomment if using a clone
# stow_on_each_sample = False

[exclude_object]

[extruder]
step_pin: EBBCan: PD0
dir_pin: EBBCan: PD1 # needs to be reversed for sherpa mini
enable_pin: !EBBCan: PD2
microsteps: 16
rotation_distance: 5.7 #FOR LGX LITE
#gear_ratio: 50:10
#rotation_distance: 22 #was 22
full_steps_per_rotation: 200
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: EBBCan: PB13
sensor_type: EPCOS 100K B57560G104F
sensor_pin: EBBCan: PA3
#control: pid
#pid_Kp: 21.527
#pid_Ki: 1.063
#pid_Kd: 108.982
pressure_advance: 0.02
pressure_advance_smooth_time: 0.04
min_temp: 0
max_temp: 285

[tmc2209 extruder]
uart_pin: EBBCan: PA15
sense_resistor: 0.110
run_current: 0.5 # for lgx lite
#run_current: 0.6 # sherpa mini
hold_current: 0.40
stealthchop_threshold: 0
interpolate: false

[temperature_sensor EBBCan]
sensor_type: temperature_mcu
sensor_mcu: EBBCan
min_temp: 0
max_temp: 100

[resonance_tester]
accel_chip: adxl345
probe_points:
    142.5, 142.5, 20  # Center for merc1

[adxl345]
cs_pin: EBBCan: PB12
spi_bus: spi2_PB2_PB11_PB10
axes_map: x,y,z

[verify_heater extruder]
max_error: 170
check_gain_time: 9999
hysteresis: 5

[heater_bed]
heater_pin: PC9
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PC4
#control: pid
#pid_Kp: 54.027
#pid_Ki: 0.770
#pid_Kd: 948.182
min_temp: 0
max_temp: 130

[fan]
pin: EBBCan: PA0

[heater_fan hotend_fan]
pin: EBBCan: PA1
max_power: 1.0
kick_start_time: 0.5
heater: extruder
heater_temp: 50.0

[fan]
pin: EBBCan:PA0            # Triggers your part cooling fan
kick_start_time: 0.5
off_below: 0.10

[board_pins]
aliases:
    # EXP1 header
    EXP1_1=PB5,  EXP1_3=PA9,   EXP1_5=PA10, EXP1_7=PB8, EXP1_9=<GND>,
    EXP1_2=PA15, EXP1_4=<RST>, EXP1_6=PB9,  EXP1_8=PD6, EXP1_10=<5V>

# See the sample-lcd.cfg file for definitions of common LCD displays.

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 26.126
#*# pid_ki = 1.502
#*# pid_kd = 113.644
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 64.137
#*# pid_ki = 1.204
#*# pid_kd = 853.827
#*#
#*# [bltouch]
#*# z_offset = 3.917
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	-0.023125, -0.091250, -0.106875
#*# 	0.025000, -0.013750, -0.019375
#*# 	-0.078125, -0.075000, -0.062500
#*# x_count = 3
#*# y_count = 3
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 55.0
#*# max_x = 190.0
#*# min_y = 15.0
#*# max_y = 200.0
#*#
#*# [input_shaper]
#*# shaper_type_x = mzv
#*# shaper_freq_x = 75.2
#*# shaper_type_y = mzv
#*# shaper_freq_y = 47.2
